<%- include("./partials/header") %>

<div class="library-container">
    
    <% books.forEach((book , index) => { %>
        <p><%= book.bookname %></p>
        <a href="/delete/<%= index  %>">delete</a> 
        <a href="/update/<%= index %>">Update</a>
    <% }) %>
</div>


<%- include("./partials/footer") %>
