<%- include("./partials/header") %>

<div class="library-container">
        <% books.forEach((book , index) => { %>
            <div class="card">
                <img src="/images/<%= book.image %>" alt="">
                <p><%= book.bookname %></p>
                <p><%= book.bookprice %></p>
                <p><%= book.authorname %></p>
                <p><%= book.bookquantity %></p>s
                <p><%= book.bookcategory %></p>
                <a href="/delete/<%= book._id  %>">delete</a> 
                <a href="/update/<%= book._id %>">Update</a>
            </div>
        <% }) %>
</div>


<%- include("./partials/footer") %>
