<%- include("./partials/header") %>

<div class="library-container">
    <div class="card">
        <% books.forEach((book , index) => { %>
            <p><%= book.bookname %></p>
            <p><%= book.bookprice %></p>
            <p><%= book.authorname %></p>
            <p><%= book.bookquantity %></p>
            <p><%= book.bookcategory %></p>
            <a href="/delete/<%= book._id  %>">delete</a> 
            <a href="/update/<%= book._id %>">Update</a>
        <% }) %>
    </div>
</div>


<%- include("./partials/footer") %>
