<%- include("./partials/header") %>


<div class="update-container">
    <h1>Update Book</h1>

    <form action="/update/<%= index %>" method="post">
        <input type="text" placeholder="Book name" name="bookname" value="<%= book.bookname %>"><br> 
        <input type="text" placeholder="Book price" name="bookprice" value="<%= book.bookprice %>"><br> 
        <input type="text" placeholder="Author name" name="authorname" value="<%= book.authorname %>"><br>
        <input type="text" placeholder="Book Quantity" name="bookquantity" value="<%= book.bookquantity %>"><br> 
        <input type="text" placeholder="Book Category" name="bookcategory" value="<%= book.bookcategory %>"><br>
        <!-- <textarea name="description" cols="30" rows="10" placeholder="Book description"></textarea> <br>  -->
        <button>Update Now</button>
    </form>

</div>



<%- include("./partials/footer") %>
